.sm-select-role {
    width: 100%
}

.sm-search-title {
    margin: 0;
    color: #137CBD;
}

.sm-search-body{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}
.sm-insert-button {
    background: none !important;
    border: 2px solid #8A9BA8;
    width: 81px;
    float: right;
}
.sm-insert-button span {
    color: #8A9BA8;
}

.sm-content-dialog {
    height: 600px;
    overflow: auto;
    padding: 20px 20px;
}

.sm-content-title span{
    color: #137CBD !important;
    font-size: 16px;
}